html {
    height: 100%; /* Sørger for at html-elementet strekker seg til hele høyden av viewporten */
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 20px; /* Legger til padding på sidene av body for å forhindre at innholdet strekker seg helt ut */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Endret fra center til space-between for å skyve footeren ned */
    align-items: center;
    min-height: 100vh; /* Sørger for at body strekker seg til minst hele høyden av viewporten */
    background-color: #F0F2F5; /* Lysere grå for en mykere bakgrunn */
    color: #1E2B3C; /* Blåsvart for bedre lesbarhet */
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem; /* Basertekststørrelse */
}
.container {
    text-align: center;
}
.container img {
    display: block;
    margin: 0 auto 20px; /* Space mellom image og text */
}
.container h1 {
    color: #0062B8; /* Mørk blå */
    font-size: 24px;
    margin: 0;
}
.container #loading-dot {
    width: 120px;
    height: 60px;
    background-image: radial-gradient(circle, #0062B8 50%, transparent 50%), radial-gradient(circle, #0062B8 50%, transparent 50%), radial-gradient(circle, #0062B8 50%, transparent 50%);
    background-size: 30px 30px;
    background-position: 0% 50%, 50% 50%, 100% 50%;
    background-repeat: no-repeat;
    animation: loading 1s infinite;
    margin: 30px auto 0; /* Space mellom text and loading dots */
}
@keyframes loading {
    0%, 33.34%, 66.68%, 100% {
        background-position: 0% 50%, 50% 50%, 100% 50%;
    }
    16.67% {
        background-position: 0% 20%, 50% 50%, 100% 50%;
    }
    50.01% {
        background-position: 0% 50%, 50% 20%, 100% 50%;
    }
    83.35% {
        background-position: 0% 50%, 50% 50%, 100% 20%;
    }
}

/* Stil for knappen som aktiverer mørk modus */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #C2132C; /* Rød */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode-toggle:hover {
    background-color: #C2132C; /* Mørk rød for hover */
}

/* Stiler for nettsiden i mørk modus */
.dark-mode {
    background-color: #1E2B3C; /* Blåsvart for mørk modus */
    color: #F0F2F5; /* Lysere grå for kontrast */
}

.dark-mode h1, .dark-mode p, .dark-mode a {
    color: #F0F2F5; /* Lysere grå for kontrast */
}

.dark-mode a {
    background-color: #0062B8; /* Mørk blå for lenker i mørk modus */
    color: #fff;
}

.dark-mode a:hover {
    background-color: #004A8F; /* En mørkere nyanse av blå for hover */
}

.dark-mode footer {
    color: #aaa; /* Lysere grå for bedre lesbarhet */
}

/* Stil for tilbakeknappen */
.back-button {
    position: fixed;
    top: 10px;
    left: 10px; /* Plassert på venstre side */
    padding: 10px 15px;
    background-color: #C2132C; /* Rød */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #A10D24; /* Mørkere rød for hover-effekt */
}

/* Sørger for at .back-button beholder sin røde farge i mørk modus */
.dark-mode .back-button, .dark-mode .back-button:hover {
    background-color: #C2132C; /* Rød */
    color: #fff;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px; /* Juster etter behov */
}

nav a {
    text-decoration: none;
    color: #000; /* Endre farge etter behov */
}

footer {
    margin-top: 10px; /* Skyver footeren 20px ned fra innholdet over */
    text-align: center; /* Sentrerer tekst eller andre elementer i footeren */
    color: #1E2B3C; /* Tekstfarge som matcher body */
    transition: background-color 0.3s, color 0.3s; /* Overgang for mørk modus */
    font-size: 12px; /* Spesifikk, liten skriftstørrelse */

}