<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"/>
    <script th:src="@{/js/index.js}"></script>
    <title>Index</title>
</head>
<body>
    <!-- Dark mode-knapp -->
    <button class="dark-mode-toggle" onclick="toggleDarkMode()">Dark Mode</button>

    <div>
        <h1>Funksjonalitet for å velge hvilke data som skal deles</h1>
        <p><a href="/qr-code">Gå til QR-kode!</a></p>
    </div>
</body>
</html>
