<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/qr.css}"/>
    <script th:src="@{/js/qr.js}"></script>
    <title>qrCode</title>
</head>
<body>
    <!-- Dark mode-knapp -->
    <button class="dark-mode-toggle" onclick="toggleDarkMode()">Dark Mode</button>

    <div class="container">
        <img src="qrCodes/selective-disclosure.png" alt="QR Code">
        <h1>Scan QR-kode</h1>
        <div id="loading-dot"></div>
    </div>
</body>
</html>

