<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Verifiserte attributter</h1>

    <p><strong>Challenge ID:</strong> <span th:text="${challengeId}"></span></p>
    <p><strong>Claims:</strong> <span th:text="${claims}"></span></p>
    <p><strong>Verified:</strong> <span th:text="${verified}"></span></p>
    <p><strong>Holder:</strong> <span th:text="${holder}"></span></p>

</body>
</html>